<div class="container text-center mt-5">
 
  <%= image_tag 'cat_koubakozuwari_brown.jpg', size: "200x200", class: "img-fluid " %>

  <h1>Purrfect Hubとは？</h1>
  <p>Purrfect Hub（パーフェクトハブ）は猫好きのための里親募集・日記投稿のできるコミュニティサイトです。</p>
  <p>purr（パー）は、猫ちゃんがリラックスする時に出すゴロゴロ音のことで、</p>
  <p>「Purrfect」は「Perfect（完璧）」をもじったスラングで、世界中の猫好きさんたちにSNSでよくハッシュタグとして使われています。</p>
  <p>Purrfect Hubは、全ての猫ちゃんが安心して幸せに暮らせることを願って作られたサイトです。</p>
  <p>猫の成長を記録したり、他の飼い主さんとコミュニケーションを取って悩みを共有することができます。</p>
  <p>もちろん猫ちゃんを飼っていない方もOKです！</p>
  <p>たくさん投稿して素敵な猫ライフを送りましょう！</p>


  <h2 class="mt-5">使い方</h2>
  <h3>①日記を投稿する</h3>
  <p>マイページから日記を投稿できます！</p>
  <p>My Catで自分の猫ちゃんを登録しておくと、日記に猫ちゃんを登録して</p>
  <p>猫ちゃん毎に日記を確認することができます！</p>
  <p>他のユーザーの投稿にいいねやコメントすることもできます。</p>

  <h3>②おなやみ投稿</h3>
  <p>猫ちゃんの飼育方法や病気についてのおなやみを投稿できます！</p>
  <p>日記の投稿にて、「おなやみ」でタグ付けをして投稿しましょう！</p>
  <p>コメントで誰かのおなやみに答えることもできます。</p>

  <h3>③里親募集</h3>
  <p>保護猫の情報を投稿し、里親さんを探すことができます。</p>
  <p>応募や譲渡はコメントやDMでやり取りしてください。</p>
  
  <h3 class="mt-5"><i class="fas fa-exclamation-triangle"></i>注意<i class="fas fa-exclamation-triangle"></i></h3>
  <h4>[日記・コメントの内容について]</h4>
  <p>客観的に誹謗中傷・名誉毀損であると判断される言動や暴力的な言葉使いはしないで下さい。</p>
  <p>発見次第、予告なしで投稿・コメントを削除する場合がありますので、予めご了承ください。</p>
  <p>悪質な場合は、アカウント削除処分も含めて厳しい対応を取らせていただきます。</p>

  <h4>[宣伝目的の投稿]</h4>
  <p>他サイトへ誘導するような明らかな商業目的な宣伝投稿に関しては、即時削除いたします。</p>
  <p>また、ペットの生体販売に関する宣伝投稿や販売目的と判断される投稿も即時削除します。</p>
  <p>著作権を侵害する画像の使用は見つけ次第、削除致しますのでご了承下さい。</p>

  <h4>[著作権について]</h4>
  <p>著作権を侵害する画像は使用しないで下さい。</p>
  <p>また、当サイトに投稿された記事・画像・情報などの無断転用は一切禁止します。</p>
  <p>著作権を侵害する画像の使用は見つけ次第、削除致しますのでご了承下さい。</p>

  <%= image_tag 'pet_cat_sit.jpg', size: "200x200", class: "img-fluid  mt-5" %>

</div>
