@use '~bootstrap/scss/bootstrap';

body {
   font-family: 'Kosugi Maru', sans-serif; 
   }


.like-btn {
 
 color: #e54747; 

 }

.bookmark-btn {
 
 color: #ffff00; 

 }
 
  .flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
  text-align: center
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
  text-align: center
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  text-align: center
}

