<div class="container mt-5">
<h3>里親募集コメント一覧</h3>
<table class="table mt-3">
  <tr>
    <th class="col-2">ニックネーム</th>
    <th class="col-8">コメント</th>
    <th class="col-1"></th>
    <th class="col-1"></th>
  </tr>
<% @rescued_cat_comments.each do |rescued_cat_comment| %>
  <tr>
    <td class="col-2"><%= @users.find(rescued_cat_comment.user_id).nickname %></td>
    <td class="col-8"><%= rescued_cat_comment.comment %></td>
    <td class="col-1"><%= rescued_cat_comment.created_at.strftime('%Y/%m/%d') %></td>
    <td class="col-1">
     <%= link_to "削除", admin_rescued_cat_rescued_cat_comment_path(rescued_cat_comment.rescued_cat, rescued_cat_comment), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-sm btn-danger" %>
    </td>
  </tr>
<% end %>
</table>

</div>