// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  .container p{
        position: absolute;
        padding: 10px;
        margin:0;
      }
      .container .diary_title{
        top: 5px;
        left: 5px;
        width: 80px;
        text-align: center;
        background-color: skyblue;
        font-weight: bold;
        color: #fff;
      }
      .container .user_name {
        background-color: #fff;
        right: 5px;
        bottom: 15px;
      }