<div class="container mt-3">
  <h2 class="text-center mb-5">ブックマークした里親募集</h2>
     <%= render 'public/rescued_cats/rescued_cats', rescued_cat: @rescued_cats %>
     <div class="row justify-content-center ">
       <%= paginate @rescued_cats %>
     </div>
     <%= link_to "Back", request.referrer, class: "row d-flex justify-content-center" %>
</div>