<div class="container mt-5">
  <h2 class="text-center">ブックマークした里親募集</h1>
  
     <%= render 'public/rescued_cats/rescued_cats', rescued_cat: @rescued_cats %>
     
      <div class="row justify-content-center ">
        <div class="col-4 ">
          <%= paginate @rescued_cats %>
        </div>
      </div>

</div>