<div class="container mt-3">
  <h2 class="text-center mb-5">ブックマークした里親募集</h2>
     <%= render 'public/rescued_cats/rescued_cats', rescued_cat: @rescued_cats %>
      <div class="row justify-content-center ">
        <div class="col-4 ">
          <%= paginate @rescued_cats %>
        </div>
      </div>
       <%= link_to "Back",my_page_user_path(@user), class: "row d-flex justify-content-center" %>
</div>