<div class="container mt-5">

  <h1 class="text-ccenter">いいねした日記</h1>

    
    <%= render 'public/diaries/diaries', diary: @diaries %>
   
     <div class="row justify-content-center">
       <div class="col-4">
         <%= paginate @diaries %>
       </div>
     </div>
</div>