<div class="container mt-5">
  <h1 class="text-center">里親募集の投稿</h1>

    <%= render 'public/rescued_cats/rescued_cats', rescued_cat: @rescued_cat %>

       <div class="row justify-content-center ">
        <div class="col-4 ">
          <%= paginate @rescued_cats %>
        </div>
      </div>

</div>