<div class="text-center">
  <% if obj.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h3 class="text-black"><%= obj.errors.count %> 件のエラーがあります</h3>
        <% obj.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %>
</div>