<footer class="py-5 mb-6 border-top">
  <div class='container d-flex flex-wrap justify-content-center'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>PurrfectHub</p>
    	</div>
    </div>
  </div>
</footer>

    	