<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>PurrfectHub</p>
    	</div>
    </div>
  </div>
</footer>

    	</div>
    </div>
  </div>
</footer>
