  <div class="dropdown" style="position: relative; z-index: 2000;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-sharp fa-solid fa-bell"></i>
        <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="position: absolute; left: 0; right: 0; width: 500px;">
        <% if current_user.notifications.where(read: false).any? %>
            <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
            <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                <%= link_to notification.message, notification, method: :patch, class: "dropdown-item" %>
            <% end %>
        <% else %>
            <span class="dropdown-item disabled">未読の通知はありません</span>
        <% end %>
    </div>
</div>